@tailwind base;
@tailwind components;
@tailwind utilities;

*::marker {
  color: currentColor !important;
}

.prose a {
  color: #f43e9f;
}

.menu a:active,
.menu a:hover,
.navbar a:active,
.navbar a:hover {
  color: #f43e9f;
  font-size: 120%;
}
